{% load static %}

<html>
    <head>
        <title>HyperCube's blog</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <!--plus-button-->
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <!--  -->
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a> )</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span> </a>
            {% endif %}
            <h1><a href="/">HyperCube Blog</a> </h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>

<!--

<h1>Заголовок</h1> — главный заголовок страницы
<h2>Подзаголовок</h2> — для заголовков второго уровня
<h3>Заголовок третьего уровня</h3> … и так далее, вплоть до <h6>
<p>Параграф</p>
<em>текст</em> — курсивный шрифт
<strong>текст</strong> — жирный шрифт
<br> — переход на следующую строку (внутрь br нельзя ничего поместить, также для него нет закрывающего тега)
<a href="https://djangogirls.org">link</a> создаёт ссылку
<ul><li>первый элемент</li><li>второй элемент</li></ul> создаёт список, такой же как этот!
<div></div> определяет раздел страницы

-->