
h1 a {
    color: #2f6519;
    font-family: 'Lobster';
}

body {
    padding-left: 0px;
    background: #0b2030;
}



.page-header {
    background-color: #ff9400;
    background-color: #1b303e;
    margin-top: 0;
    padding: 20px 20px 20px 60px;
}



.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #31b5fc;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 80px;
    background: #0b2030;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #9a9863;
    font-family: bold, cursive;
    font-size: 12pt;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    color: #828282;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #31b5fc;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    color: #9eb6c7;
}

.post h1 a, .post h1 a:visited {
    color: #31b5fc;
}
